.bg-accordion {
    background: #f7f7f7 !important;
    border-radius: 5px !important;
    padding: 15px !important;
}

.bg-compo-book {
    background-image: url('https://jasminehagiang.com/modules/home/assets/images/Layer-16.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.type-tour {
    background-color: #df6726;
    border-radius: 10px 10px 30px 30px;
    padding: 60px 20px 40px 20px !important;
    width: calc(100% / 3 - 40px);
    color: #f7f7f7;
    position: relative;
    box-sizing: border-box;
    margin: 0 20px;
}

.book-now {
    padding: '10px 40px';
    background: white;
    border-radius: 50px;
}

.radio-item .input-label {
    width: 70%;
}

.type-tour .wrap-radio-item {
    margin-bottom: 10px;
}
.type-tour .wrap-radio-item .crossbar {
    height: 1px;
    width: 100%;
    background-color: #f7f7f7;
}

.type-tour .radio-item .title {
    font-size: 12px;
    font-weight: 550;
}

.type-tour .radio-item .value {
    font-size: 17px;
    font-weight: 600;
}

.wrap-book-now {
    display: flex;
    justify-content: center;
}

.type-tour .radio-des {
    margin-top: 20px;
}

.prie_item_title {
    position: absolute;
    top: -30px;
    left: 20px;
    right: 20px;
    background-image: url('https://jasminehagiang.com/modules/home/assets/images/Rectangle-8021.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-type-tour {
    display: flex;
    justify-content: center;
}

.wrap-pay .input-item {
    margin-top: 10px;
}
/* 
.wrap-pay .input-item input {
    border-radius: 5px;
} */

.wrap-pay .input-item input,
textarea,
select {
    border-radius: 5px;
}

.registration-list .title {
    text-align: center;
    font-weight: 550;
    font-size: 17px;
}

.registration-list .table {
    display: flex;
    justify-content: flex-end;
}

.registration-list .table .header {
    border: 1px solid #dddddd;
    width: 85%;
}

.registration-list .table .header div {
    text-align: center;
    border: 1px solid #dddddd;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-list .provisional {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.registration-list .provisional {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
}

.registration-list .service-charge {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.registration-list .total {
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    color: #ec1d2f;
}

.bg-interesting-experiment {
    background-image: url('https://jasminehagiang.com/images/introduce/compress/6_optimized_1680112805.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000;
    color: white;
}

.bg-interesting-experiment .des {
    margin-top: 20px;
    width: 70%;
}

.bg-interesting-experiment .des div {
    margin-top: 15px;
}

.bg-history {
    background-image: url('https://jasminehagiang.com/images/config/layer-62_1680344800.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000;
    color: white;
    margin-top: 50px;
}

.bg-history h3 {
    color: #ff4051;
    margin-bottom: 10px;
}

.bg-history .history-item {
    display: flex;
    gap: 30px;
}

.our-tours .our-tour-item {
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: 600;
}

.our-tours .four-day {
    background-color: #ec1d2f;
}

.default_block .tab_block .location_block {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 23px 60px 23px;
}

.default_block .tab_block .location_block .tab_block_tour {
    width: calc(100% / 4 - 60px);
    position: relative;
    margin: 0 30px;
    flex: 1;
}

.default_block .tab_block .location_block .tab_block_tour:before {
    content: '';
    background-color: #bbb;
    display: block;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: -32px;
    height: 1px;
    opacity: 0.4;
}

.default_block .tab_block .location_block .tab_block_tour .location_name {
    text-transform: capitalize;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    line-height: 1.486;
    padding-left: 10px;
    position: relative;
    z-index: 3;
    background-color: #fff;
    display: inline-block;
    padding-right: 20px;
}

.default_block .tab_block .location_block .tab_block_tour .location_name:before {
    content: '';
    background-image: url(https://jasminehagiang.com/modules/home/assets/images/icon.png);
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: -4px;
    left: -28px;
    z-index: 1;
}
